body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
}

h1{
    color:rgb(87, 122, 218);
}

.mensaje{
    color: rgb(87, 122, 218);
    font-weight: 600;
}

.error{
    color: darkred;
    font-weight: 600;
}

.contenedor{
    width: 600px;
    padding: 20, 0;
}